version: "3.9"

services:
  mongo:
    image: mongo:7.0
    container_name: mongo
    ports:
      - "27018:27017"
    volumes:
      - mongo_data:/data/db
    restart: unless-stopped

  web:
    build: .
    container_name: flask_app
    ports:
      - "5001:5000"
    environment:
      MONGO_URL: "mongodb://mongo:27017/soa_demo"
      # Leave empty to let entrypoint.sh generate it, or set it here to override
      JWT_SECRET_KEY: ""
    depends_on:
      - mongo
    volumes:
      - .:/app
    restart: unless-stopped
    # Note: entrypoint is now handled in the Dockerfile

  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    ports:
      - "9091:9090"
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
    restart: unless-stopped

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    ports:
      - "3001:3000"
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=admin
    depends_on:
      - prometheus
    restart: unless-stopped

volumes:
  mongo_data: